@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Outfit:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);  
    --Dark-blue: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Light-gray);
}
.container {
    background-color: var(--White);
    width: 375px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 15px;
}
.container .text {
    font-family: 'Outfit', sans-serif;
}
.container img {
    border-radius: 10px;
    width: 336px;
    margin: 20px;
}
.container .text h1 {
    font-size: 23px;
    width: 267px;
    margin: 10px 60px;
}
.container .text p {
    font-size: 15px;
    line-height: 1.5;
    margin: 25px 40px;
    width: 262px;
    text-align: center;
    margin-left: 55px;
    color: var(--Grayish-blue);
}
@media (max-width: 767px) {
    .container {
        margin: 68px 16px;
    }
    .attribution {
        margin: -10%;
    }
}