@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
}
.container {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    border-radius: 20px;
    margin: 40px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 2px 2px 12px var(--Grayish-blue);
}
.container img {
    border-radius: 10px;
    width: 270px;
    margin: 17px auto;
}
.container .text {
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
}
.container .text h1 {
    margin-bottom: 15px;
    width: 273px;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
}
.container .text p {
    margin-bottom: 25px;
    width: 250px;
    width: 221px;
    margin-left: 40px;
    color: var(--Grayish-blue); 
}
@media (max-width: 767px) {
    .container {
        margin-top: 36%;
    }
}